html{
    height: 100vh;
}

div h1 {
    background-color: red;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#botones{
    background-color: blue;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 10vh;
}

#botones button{

    width: 40%;
    height: 10vh;

    
}


