html {
    height: 100vh;
}

div h1 {
    background-color: red;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#botones {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

#botones button {
    width: 40%;
    height: 150px;
    font-size: 1.4rem;
    -webkit-box-shadow: 13px 13px 17px 3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 13px 13px 17px 3px rgba(0, 0, 0, 0.58);
    box-shadow: 13px 13px 17px 3px rgba(0, 0, 0, 0.58);
}

li {
    display: flex;
    height: 60px;
    align-items: center;
    font-size: 1.4rem;
    justify-content: center;
}
 
input{

    height: 50px;
    width: 50px;
}