html {
    height: 100vh;
}

div h1 {
    background-color: red;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#botones {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

p{

    font-size: 1.5rem;
    text-align: center;
}

#botones button {
    width: 40%;
    height: 150px;
}

li {
    display: flex;
    height: 60px;
    align-items: center;
    font-size: 1.4rem;
    justify-content: center;
}

